h1
{
	color: royalblue;
}
h2
{
	color: deeppink;
}
h3
{
	color: purple;
}
.clr
{
	color: mediumvioletred;
}


img
{
 

width: 200px;
float: right;
top: 4px;
}

body
{
    background-image: url("fond5.jpeg");
}
a{
	color: dark;
}
